:root {
  --title-color: rgba(255, 255, 255, 1);
  --red-color: #dd2242;
  --text-color: rgba(224, 224, 224, 1);
  --dark-color: #010a20;
}

*:focus {
  /* outline: none; */
}

body {
  font-family: "DM Sans";
}

.container {
  width: 1770px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  /* outline: dotted red; */
}

.header-hero {
  background-image: linear-gradient(
      216deg,
      rgba(0, 0, 0, 0.31) 29.66%,
      rgba(0, 0, 0, 0.29) 84.2%
    ),
    url(./images/hero-bg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 28px;
}

.header {
  display: flex;
  gap: 78px;
  align-items: center;
}

.logo {
  fill: var(--title-color);
}

.logo:hover {
  fill: var(--red-color);
}

.logo-link:focus .logo{
  fill: var(--red-color);
}

.header-link {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-link:hover {
  color: var(--red-color);
}

.header-link:focus {
  color: var(--red-color);
}

.header-list {
  display: flex;
  flex-basis: 572px;
  justify-content: space-between;
}

.search-icon {
  fill: var(--title-color);
}

.menu-icon {
  fill: var(--title-color);
}

.search-icon:hover {
  cursor: pointer;
  fill: var(--red-color);
}

.menu-icon:hover {
  cursor: pointer;
  fill: var(--red-color);
}

.icon-link:focus .search-icon{
  cursor: pointer;
  fill: var(--red-color);
}

.icon-link:focus .menu-icon{
  cursor: pointer;
  fill: var(--red-color);
}

.header-icons {
  display: flex;
  gap: 40px;
  margin-left: 767px;
}

.hero {
  padding-top: 156px;
  padding-left: 25px;
}

.white-rectangle {
  width: 2px;
  height: 296px;
  flex-shrink: 0;
  background: linear-gradient(var(--title-color) 0%, var(--title-color) 100%),
    var(--title-color);
}

.red-rectangle {
  width: 4px;
  height: 100px;
  background: var(--red-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
}

.rectangle-wrap {
  padding-top: 5px;
  width: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rectangle-number {
  width: 17px;
  height: 21.011px;
  transform: rotate(-90deg);
  color: var(--title-color);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.hero-title {
  max-width: 627px;
  color: var(--title-color);
  font-family: Roboto;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 108.333%;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.hero-button {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 211px;
  background: var(--red-color);
  width: 271px;
  height: 82px;
}

.hero-button:hover {
  background-color: var(--title-color);
  color: var(--dark-color);
}

.hero-button:focus {
  background-color: var(--title-color);
  color: var(--dark-color);
}

.hero-wrap {
  display: flex;
  gap: 191px;
  padding-bottom: 204px;
}

.hero-info {
  padding-top: 33px;
}

/* .smth-list {
  width: 131px;
  height: 21px;
  transform: rotate(-90deg);
  display: flex;
  gap: 44px;
}

.smth-item {
  color: var(--title-color);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 700;
} */

.hero-list {
  background: rgba(0, 0, 0, 0.6);
  width: 1226px;
  height: 210px;
  display: flex;
  gap: 198px;
  padding-top: 41px;
  padding-left: 71px;
}

.hero-articles-wrap {
  display: flex;
  justify-content: flex-end;
}

.hero-article-number {
  color: var(--red-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-article-title {
  color: var(--title-color);
  font-size: 26.409px;
  font-weight: 700;
  line-height: 155.556%;
}

.hero-article-text {
  color: rgba(147, 147, 147, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.5px;
  max-width: 210px;
}

.hero-image {
  width: 346px;
  height: 210px;
}

/* locations */

.locations {
  height: 1624px;
  /* background-color: #010A20; */
  background-image: url(./images/locations-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.locations-image {
  width: 630px;
  height: 460px;
  border-radius: 10px;
}

.locations-title {
  color: var(--title-color);
  font-size: 42px;
  font-weight: 700;
  line-height: 119.048%;
  max-width: 480px;
  margin-top: 58px;
  margin-bottom: 20px;
}

.locations-text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.18px;
  width: 408px;
  margin-bottom: 32px;
}

.locations-button {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 32px;
  background: var(--red-color);
  width: 180px;
  padding: 16px 24px;
}

.locations-article {
  justify-content: center;
  display: flex;
  gap: 130px;
  padding-top: 207px;
}

.locations-article:last-child {
  padding-left: 44px;
}

/* secrets */

.secrets {
  background-image: url(./images/secrets-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 127px;
}

.secrets-list {
  display: flex;
  gap: 31px;
}

.secrets-wrap {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 28px;
}

.secrets-title {
  color: #010a20;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 150%;
}

.secrets-arrow {
  fill: #020b20;
}

.secrets-list ~ .secrets-arrow {
  transform: rotate(180deg);
}

.secrets-image {
  width: 405px;
  height: 257px;
  border-radius: 10px;
}

.secrets-cirkle {
  width: 19px;
  height: 19px;
  /* border-radius: 50%; */
  border-radius: 10px;
  background-color: #85a3b2;
}

.secrets-cirkle:nth-child(4) {
  width: 55px;
  background-color: var(--red-color);
}

.secrets-circles {
  display: flex;
  gap: 17px;
  justify-content: center;
}

.secrets-numbers {
  margin-top: 886px;
  background-color: rgba(2, 12, 33, 0.9);
  padding-top: 201px;
  padding-bottom: 211px;
}

.numbers-title {
  color: var(--title-color);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 37px;
}

.numbers-text {
  color: var(--text-color);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 341px;
}

.numbers-subtitle {
  color: var(--red-color);
  text-align: center;
  font-size: 42.137px;
  font-weight: 700;
  line-height: 116.667%;
  letter-spacing: 0.386px;
}

.numbers-title ~ .numbers-text {
  max-width: 484px;
}

.numbers-item:nth-child(2) .numbers-text {
  max-width: 377px;
}

.numbers-list {
  padding-top: 39px;
  display: flex;
  gap: 100px;
  justify-content: center;
}

/* hills */

.hills {
  padding-top: 248px;
  padding-bottom: 257px;
  background-image: url(./images/hills-bg1.webp), url(./images/hills-bg2.webp);
  background-size: cover;
}

.hills-title {
  color: #000;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 119.048%;
  max-width: 614px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
}

.hills-text {
  color: #6f7787;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.5px;
  max-width: 470px;
  margin: 0 auto;
}

.hills-button {
  color: var(--title-color);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  border-radius: 122px;
  background: var(--red-color);
  width: 210px;
  height: 64px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 36px;
}

/* expect */

.expect {
  background-image: url(./images/expect-bg.webp),
    linear-gradient(var(--dark-color), var(--dark-color));
  background-size: cover;
  padding-top: 141px;
  padding-bottom: 255px;
}

.expect-title {
  color: var(--title-color);
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 119.048%;
  max-width: 1056px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.expect-image {
  width: 1056px;
  height: 594px;
  border-radius: 10px;
  margin: 0 auto;
}

.expect-list {
  padding-top: 125px;
  display: flex;
  gap: 75px;
  justify-content: center;
}

.expect-item {
  display: flex;
  gap: 41px;
}

.expect-country-image {
  width: 233px;
  height: 151px;
  border-radius: 5px;
}

.expect-subtitle {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 15px;
}

.expect-text {
  color: rgb(255, 255, 255, 0.7);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  letter-spacing: 0.5px;
  max-width: 334.629px;
}

.expect-item:last-child .expect-text {
  max-width: 323.657px;
}

.expect-wrap {
  padding-top: 3px;
}

/* gallery */

.gallery {
  padding-top: 177px;
  padding-bottom: 229px;
}

.gallery-title {
  color: var(--dark-color);
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 42px;
}

.gallery-text {
  color:  #6F7787;
  text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 155.556%; 
letter-spacing: 0.18px;
max-width: 511px;
margin: 0 auto;
}

.gallery-img {
  width: 370px;
height: 530px;
border-radius: 10px;
}

.gallery-item:nth-child(2) .gallery-img {
  height: 210px;
}

.gallery-item:nth-child(3) .gallery-img {
  height: 210px;
}

.gallery-item:nth-child(5) .gallery-img {
  height: 370px;
}

.gallery-item:nth-child(6) .gallery-img {
  height: 370px;
}

.gallery-list {
  padding-top: 71px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  max-height: 1000px;
}

/* travelling */

.travelling {
  background-color: #DCE8F2;
  padding-top: 119px;
  padding-bottom: 117px;
}

.travelling-wrap {
  margin: 0 auto;
  max-width: 1161px;
}

.travelling-title {
  color: var(--dark-color);
font-size: 60px;
font-weight: 700;
line-height: 150%; 
}

.travelling-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.travelling-number {
  width: 58.687px;
height: 58.687px;
border-radius: 50%;
background-color: var(--red-color);
display: flex;
align-items: center;
justify-content: center;
}

.travelling-rectangle:nth-child(2) {
  height: 220px;
  width: 3px;
  background-color: rgba(21, 20, 57, 0.4);
}

.travelling-rectangle:nth-child(4) {
  height: 496px;
  width: 3px;
  background-color: rgba(21, 20, 57, 0.4);
}

.travelling-numb {
  color: var(--title-color);
font-size: 26.409px;
font-weight: 500;
line-height: 144.444%;  
}


.travelling-image {
  max-width: 249.419px;
  max-height: 165.79px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 7.336px;
}

.travelling-subtitle {
  color: var(--dark-color);
font-size: 26.409px;
font-weight: 700;
line-height: 155.556%; 
}

.travelling-text {
  color:rgba(21, 20, 57, 0.40);
font-size: 23.475px;
font-weight: 400;
line-height: 162.5%; 
max-width: 1059.298px;
}

.travelling-lists {
  display: flex;
  gap: 44px;
  padding-top: 44px;
  justify-content: center;
}

.travelling-list {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 94px;
}

.travelling-item {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.travelling-item:nth-child(3) {
  display: flex;
  gap: 45px;
  flex-direction: row;
}

.travelling-textwrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 4.5px;
}

.travelling-textwrap .travelling-text{
  max-width: 446.02px;
}

.travelling-button {
  color: var(--title-color);
text-align: center;
font-size: 18px;
font-weight: 700;
line-height: 150%;
width: 210px;
height: 64px;
border-radius: 122px;
background: var(--red-color);
}

.travelling-item:last-child {
  margin-top: 9px;
}

.travelling-buttonwrap {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

/* footer */

.footer {
  background: #010A20;
  padding-top: 39px;
  padding-bottom: 31px;
}

.footer-link {
  color: var(--title-color);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 155.556%; 
letter-spacing: 0.5px;
}

.soc-icon {
  fill: var(--title-color);
}

.footer-rights {
  color: var(--title-color);
font-size: 18px;
font-weight: 700;
line-height: 155.556%;
letter-spacing: 0.5px;
}

.footer-list {
  display: flex;
  gap: 36px;
  padding-left: 74px;
}

.soc-list {
  display: flex;
  gap: 22px;
  padding-left: 670px;
}

.footer-wrap {
  display: flex;
  align-items: center;
  gap: 50px;
}